<div id="<%= dom_id transaction %>">

  <tr> 
  <td><%= transaction.created_at.strftime("%B %d %Y, %l:%M%P") %></td>
  <td><%= link_to transaction.title, transaction %></td>
  <td><%= transaction.amount %>€</td>
  <td><%= transaction.category&.name %></td>
  <td> <%= transaction.account&.name || "No Account" %></td>
  </tr>

</div>
