<p style="color: green"><%= notice %></p>

<%= render @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to accounts", accounts_path %>

  <%= button_to "Destroy this account", @account, method: :delete %>
</div>

<h2>Transactions</h2>
<ul>
  <% @account.transactions.each do |transaction| %>
    <li><%= transaction.title %> - $<%= transaction.amount %> (<%= transaction.category %>)</li>
  <% end %>
</ul>
