<p style="color: green"><%= notice %></p>

<h3> <strong><%= @account.name %></strong> - <%= @account.balance %>€ (<%= link_to "Edit", edit_account_path(@account) %>)</h3>


<h4>Transactions</h4>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
    <% @account.transactions.each.each do |transaction| %>
      <%= render transaction %>
    <% end %>
    </tbody>
  </table>
</div>
